// ------------------------------------------------------------------------------------------------ //
// Other elements

// Map section
#map {
    width:100%;
    height: 500px !important;
}

// Layers text left
.layerTxt {
    font-size: 0.7em !important;
    font-weight:600 !important;
}

// Subject : Hidden
#subjectWindNL, #subjectUnknown {
    display: none;
}

// ------------------------------------------------------------------------------------------------ //
// Mapbox elements

// mapbox gl popup
.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

// Mapbox marker
.marker {
    background-color: blue;
    background-size: cover;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    word-wrap: normal;
}
    
.mapboxgl-popup {
    max-width: 500px !important;
}