<!-- Include navbar -->
<%- include("../partials/navbar.ejs") %>

<!-- Include header -->
<%- include("../partials/header.ejs") %>

<!-- Page content -->
<div class="container">
    <p>Page not found.</p>
</div>

<!-- Include footer -->
<%- include("../partials/footer.ejs") %>