<!-- Include navbar -->
<%- include("../partials/navbar.ejs") %>

<!-- Include header -->
<%- include("../partials/header.ejs") %>

<!-- Map Section + controls -->
<div class="container-fluid">
    <div class="row">
        <!-- Map / Data layer selection section -->
        <div class="col-sm-12 col-md-6 col-lg-2 order-sm-1 order-md-1 order-lg-1">
            <h4>Map/Data layers List</h4>
            <div id="mapList"></div>
        </div>
        <!-- Map section -->
        <div class="col-sm-12 col-md-12 col-lg-8 order-sm-3 order-md-3 order-lg-2">
            <div id='map'></div>
        </div>
        <!-- Subject selection section -->
        <div class="col-sm-12 col-md-6 col-lg-2 order-sm-2 order-md-2 order-lg-3">
            <h4>Subject List</h4>

            <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Options</label>
            <select class="form-select" id="subjectSelect" onchange="f_showSubject()">
                <option selected>Choose...</option>
                <option value="1">Wind Energy in the Netherlands</option>
                <option value="2">Nuclear Energy in the Netherlands</option>                  
            </select>
            </div>

            <hr>
            <!-- Wind energy in the Netherlands subject section -->
            <div id="subjectWindNL">
            <p><b>Wind Energy in NL</b></p>

            <!-- BTN: Region most produced wind energy -->
            <p class="mb-0">Region most produced <i>Wind Energy in 2020</i><br>
                <div class="d-grid gap-2">
                <button class="btn btn-sm btn-block btn-primary" onclick="s_getAndSetHighOrLowValuePointDialogFromArrToMap('elektriciteitsproductie_genormaliseerde_productie_mlnÂ_kWh','HighestValue')">Get Result</button>
                </div>
            </p>
            

            <!-- BTN: Region LEAST produced wind energy -->
            <p class="mb-0">Region less produced <i>Wind Energy in 2020</i><br>
                <div class="d-grid gap-2">
                <button class="btn btn-sm btn-block btn-success" onclick="s_getAndSetHighOrLowValuePointDialogFromArrToMap('elektriciteitsproductie_genormaliseerde_productie_mlnÂ_kWh','LowestValue')">Get Result</button>
                </div>
            </p>                

            </div>

            <!-- Nuclear energy subject section -->
            <div id="subjectUnknown">
            <p><b>Nuclear Energy in NL</b></p>
            <p><i>Subject does not contain analyzing options</i></p>
            </div>

        </div>
    </div>
</div>

<!-- Include footer -->
<%- include("../partials/footer.ejs") %>